{{> navbar }}

<style>
.cpn-body { padding-bottom: 50px; }
</style>

<div class="container text-center cpn-body">
  <h1 class="title">Firebase cloud messaging</h1>

  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
      <button class="btn btn-primary disabled cpn-notify-button">Loading...</button>
    </div>
    <div class="col-xs-12 cpn-error-message"></div>
  </div>
</div>

{{> footer }}

{{> fcm_javascript }}
