{{> navbar }}

<style>
.cpn-body { padding-bottom: 50px; }
</style>

<div class="container text-center cpn-body">
  <h1 class="title">Chrome push notification</h1>

  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
      <button class="btn btn-primary disabled cpn-subscribe-button">Loading...</button>
    </div>
  </div>
</div>

{{> footer }}

{{> javascript }}
